@{
	ViewBag.Title = "View";
}

<h2>Department App for MVC5  with EF 6</h2>
<br />
@Html.ActionLink("List of Employees", "Index", "Employees")
<br />

@Html.ActionLink("List of Departments", "Index", "Departments")